body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: black;
}
h1{
  color: white;
}
.wrapper{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 20px;
}

.newmatch-form{
  display: flex;
  max-width: 550px;
  margin: 0 auto;
  background: #191919;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input-fields,
.msg{
  width: 48%;
}

.input-fields .input,
.msg textarea{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}



::-webkit-input-placeholder {
  color: #c5ecfd;
}
::-moz-placeholder {
  color: #c5ecfd;
}
:-ms-input-placeholder {
  color: #c5ecfd;
}

.wrapper input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.wrapper input[type = "submit"]:hover{
  background: #2ecc71;
}

@media screen and (max-width: 600px){
  .newmatch-form{
    flex-direction: column;
  }
  .msg textarea{
    height: 80px;
  }
  .input-fields,
  .msg{
    width: 100%;
  }
}
