
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("../images/stadium.jpg") no-repeat;
  background-size: cover;
}
.main{
  color: white;
  font-size: 30px;
  text-align: center;
}
.imgcontainer {
  max-width: 100%;
  height: auto;
}

.details{
  border: 1px solid black;
  color: white;
  font-size: 30px;
  border-collapse: collapse;
  opacity: 0.95;
  padding: 10px;
  text-align: center;
}
.btns{
  overflow: hidden;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 10px;
  border-color: #2ecc71;
  background: none;
}
.btns a {
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid blue;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    text-decoration: none;
    width: 70px;
    height: 70px;
    display: flex;
    margin: 0 20px;
    border-radius: 60%;
    float: left;
    font-size: 40px;
    align-items: center;
    justify-content: center;
}
.btns a:hover{
background: black;
}
